.mail{
	width: 100%;
	margin-top: 50px;
	background-color: dodgerblue;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 50px;
}

.mailInputContainer>input {
	width: 300px;
	height: 30px;
	padding: 10px;
	border: none;
	margin-right: 10px;
	background-color: white;
	border-radius: 5px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightseagreen;
	font-weight: 500;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightseagreen;
	font-weight: 500;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightseagreen;
	font-weight: 500;
}

.mailInputContainer>button {
	height: 50px;
	background-color: lightseagreen;
	border: none;
	font-weight: 500;
	border-radius: 5px;
	cursor: pointer;
}